<footer>
    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <img src="/assets/logo.png" alt="SecondCameraロゴ" class="logo">
          
          <div class="col-md-4">
            
            <h2 class="text-dark">Second Camera</h2>
            <h6 class="text-dark pt-1">中古デジタルカメラ・レンズ専用 価格比較サイト</h6>
          </div>
          <div class="col-md-2">
            <!--<h5 class="text-white">Brand</h5>-->
            <ul class="list-unstyled">
              <li><a href="#">新規会員登録</a></li>
              <li><a href="#">マイページ</a></li>
              <li><a href="#">お気に入りした商品</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <!--<h5 class="text-white">More</h5>-->
            <ul class="list-unstyled">
              <li><a href="#">利用規約</a></li>
              <li><a href="#">プライバシーポリシー</a></li>
            </ul>
          </div>
          <!--<div class="col-md-4">-->
          <!--  <h5 class="text-white">Pages</h5>-->
          <!--  <ul class="list-unstyled">-->
          <!--    <li>Address: 2715 Ash Dr. San Jose, South Dakota 83475</li>-->
          <!--    <li>Email: shincode0712@gmail.com</li>-->
          <!--    <li>Phone: 111-222-333</li>-->
          <!--  </ul>-->
          <!--</div>-->
        </div>
      </div>
    </div>
    <p class="footer-text">&copy; <%= Time.now.year %> SecondCamera</p>
  </footer>