<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
    <div class="container">
      <img src="/assets/logo.png" alt="SecondCameraロゴ" class="logo">
      <a class="navbar-brand" href="#">
        <h2 class="text-dark pt-1">SecondCamera</h2>
        <h6 class="text-dark pt-1">中古デジタルカメラ・レンズ専用 価格比較サイト</h6>
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          
          <li class="nav-item">
            <a class="nav-link" href="#">お気に入り商品</a>
          </li>
          <li class="nav-item">
            <% if user_signed_in? %>
              <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to 'ログイン', new_user_session_path %>
            <% end %>
          </li>
          <li class="nav-item">
            <!--<a class="nav-link">ログイン</a>-->
          </li>
          
          <button class="btn btn-primary ms-2">
            <% if user_signed_in? %>
              <%= link_to 'マイページ編集', edit_user_registration_path %>
            <% else %>
              <%= link_to 'アカウント登録', new_user_registration_path %>
            <% end %>
          </button>

        </ul>
      </div>
    </div>
  </nav>