
  <div class="product">
    <div class="container product-title">
      <div class ="row d-flex justify-content-around">
        <div class="col-5 product-name">
          <%= product.name %>
        </div>
        <div class="col-5 product-price">
          ¥<%= product.price %>
        </div>
      </div>
    </div>
    <div class="container product-body">
      <div class="row d-flex justify-content-around">
        <div class="col-5 product-thumbnail">
          <%= image_tag 'product_thumbnail.jpg', alt: 'プロダクトサムネイル' %>
        </div>
        <div class="col-5 graph">
          graph
        </div>
      </div>
    </div>
  </div>