<div class="d-flex justify-content-center">
  
  <div class="product-wrapper">
    <h2 class="products-top">新規製品登録</h2>
    
    <%= render partial: 'form', locals: { product: @product, makers: @makers, product_types: @product_types, button_text: '登録する' } %>
      
  </div>
</div>